PORT=
DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
# MAIL_HOST=smtp.example.com
# MAIL_USER=user@example.com
# MAIL_PASSWORD=password
# MAIL_FROM=noreply@example.com